/* Global CSS for all pages */

* {
    /* Sizing helper: See Workbook 1b, page 2-33. */
    box-sizing: border-box;

    /* 
       Vizualization helper: While styling or debugging your HTML & CSS, 
       uncomment the rule below to see all the boxes on your page more
       clearly! (Remove this outline before submitting: users won't 
       want to see it!)
    */
    /* outline: 1px dotted red; */
}

:root {
    font-size: 1rem;
}


        /* importing font */
        @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');

        /* css for color testing */
        body{
            background-color: #E9DAC5 ;
            width: 100%;
            font-family: 'Pixelify Sans';
            color: silver;
        }
/*         
        main{
            margin: 10%;
            position: relative;
        } */

        /* css for custom header */
        .bg-img {              
            background-image: url("../images/pokedex_header.png");
            display: flex;
            position: absolute;
            /* top: -20px; */
            min-height: inherit;
            overflow: visible;
            background-position: left;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0%;
            width: 100%;
        }

        img.nav-image {
            height: 2vw;
        }

        /* Position the navbar container inside the image */
        .navbar {
            display: flex;
            float: left;
            background-color: rgba(0, 0, 0, 0);
            position: relative;
            padding: 2%;
            min-height: 100px;

            /* margin: auto; */
            font-size: 3vw;
            align-items: center;
            /* max-width: fit-content; */
            /* min-height: fit-content;
            min-width: 30%; */
        }

        .navbar-brand {
            float: left;
            text-align: center;
            /* padding: 10px; */
            padding-inline: 10px;
            text-decoration: none;
            /* font-size: 200%; */
            position: relative;
            /* size: auto; */
        }

        /* Navbar links */
        #navlink a{
            /* float: left; */
            color: #F8ECBA;
            text-align: center;
            padding-inline: 10px;
            max-width: 100%;
            text-decoration: none;
            font-size: 75%;
            /* position: relative; */
            /* size: auto; */
            font-family: "Pixelify Sans";
        }

        #navlink a:hover {
            background-color: #313131;
            color: white;
            /* padding: %; */
        }

        .container-fluid {
            display: flex;
            padding-bottom: 2%;
            padding-left: 0;
            align-items: center;
        }

        .screen-bg {
            background-image: url("../images/screen.png");
            background-repeat: no-repeat;
            height: 33vw;
            width: 30vw;
            background-size: cover;
        }
