/* Posts Page CSS */

/* importing font */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');

body{
    color: black;
    margin-top: 8.5%;
    
}

main{
    margin: 10%;
    position: relative;
}

.card-body {
    /* color: red; */
    background-color: rgba(250, 235, 215, 0.514);
}

h1{
    margin:auto;
    display: block;
    text-align: center;
}

label {
    font-size: larger;
}

div.card.mb-3 {
    /* background-color: rgba(255, 0, 0, 0.521); */
    /* border-radius: 15%;   */
    border-radius: 15px;
    box-shadow: 0 5px 15px #47594271;
    margin: 8%;
    
}

div#postList.mt-4 {
    max-width: 60%;
    border-radius: 12px;
    
    margin: auto;
    /* color: antiquewhite; */
}

div#profile {
    text-align: center;
    font-size: 3.6vh;
    }

div.card-body {
    border: 3px solid #FF0808; 
    border-radius: 12px;

    /* border-radius: 15%;   */

}

textarea#postText.form-control {
    border: 3px solid #FF0808; 
    max-width: 80%;
    border-radius: 12px;
    margin: auto;
}

.btn-primary {
    margin-left: 10%;
    color: black;
    background-color: #FCF5EA;
    --bs-btn-hover-bg: #FF0808;
    --bs-btn-border-color: #FF0808;
    --bs-btn-hover-border-color: black;
}