@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');

main{
    position: relative;
    color: silver;
}

form {
    height: 40vw;

    padding: 8%;
}

#logoutBtn{
    width: auto
}

.screen-bg{ 
    margin-top: 180px;
    background-image: url("../images/screen.png");
    background-repeat: no-repeat;
    height: 33vw;
    width: 30vw;
    background-size: cover;
    min-height: 533px;
    min-width: 480px;
}
