@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');

main{
    margin: 10%;
    position: relative;
}

form {
    height: 40vw;
    width: 20vw;
    padding: 8%;
}

#logoutBtn{
    width: auto
}

